{% extends 'base.html.twig' %}

{% block title %}Create new pin{% endblock %}

{% block body %}
<div class="row">
<div class="col-md-6 mx-auto">
{{ include('/pin/_form.html.twig') }}
</div>
</div>


{% endblock %}