{% extends 'base.html.twig' %}

{% block title %}Hello PinController!{% endblock %}

{% block body %}

<h1>{{ pluralize(pins|length, 'Pin') }}</h1>

{% for pin in pins %}
<article>
<a href="{{path('app_pin_show', {id: pin.id})}}"><h4>{{pin.title}}</h4></a>
<p>{{pin.description}}</p>
</article>
    
{% endfor %}

{% endblock %}
