@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap");
@import "~bootstrap/scss/bootstrap";

html,
body,
nav {
  font-family: "Montserrat", sans-serif;
  position: relative;
  background-image: linear-gradient(
    90.9deg,
    rgba(255, 187, 187, 1) -8.8%,
    rgba(255, 220, 177, 1) 12.4%,
    rgba(255, 249, 177, 1) 35.6%,
    rgba(220, 255, 177, 1) 59.6%,
    rgba(177, 218, 255, 1) 84%,
    rgba(222, 177, 255, 1) 107.9%
  );
}
.vich-image {
  .form-check {
    @extend .mt-3;
  }

  img {
    @extend .mb-2,
     .img-thumbnail,
     .rounded,
     .shadow;
  }
}
