@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap");
@import "~bootstrap/scss/bootstrap";

html,
body {
  font-family: "Montserrat", sans-serif;
  background-image: radial-gradient( circle farthest-corner at 11.7% 80.6%,  rgba(249,185,255,1) 0%, rgba(177,172,255,1) 49.3%, rgba(98,203,255,1) 89% );}  
  footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.vich-image {
  .form-check {
    @extend .mt-3;
  }

  img {
    @extend .mb-2;
    @extend .img-thumbnail;
    @extend .rounded;
    @extend .shadow;
  }

 

 
    
  

}
